.block {
    display: block;    
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;

    @media #{$medium-large}{
        padding: 40px 30px;
        min-height: 600px;
    }

    &.-fullwidth {
        max-width: none;
    }

    &__wrapper {

        &:nth-child(odd){
            background-color: $gray;
            color: #ffffff;
        }
    }

    &__content {
        display: block;
        position: relative;
        width: 100%;

        &.-text {            
            margin: auto;            
            font-size: calcRem(16px);
            line-height: 1.8;

            @media #{$medium-large}{
                max-width: 80%;
                font-size: calcRem(18px);
                padding: 1.5rem 0;
            }
            @media #{$large}{
                padding: 3rem 0;
            }
        }

        h1 {
            font-family: $headline;
            font-size: calcRem(45px);
            line-height: 1;
            font-weight: normal;
            margin: 0 0 1rem;
            color: #ffffff;

            @media #{$medium-large}{
                font-size: calcRem(120px);
            }
        }

        h2 {
            font-family: $headline;
            font-size: calcRem(28px);
            margin-bottom: 20px;

            @media #{$medium-large}{
                font-size: calcRem(34px);
            }
        }
        
        header {
            font-size: calcRem(20px);
            font-weight: bold;
            letter-spacing: 4px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        
        .intro {
            margin-bottom: 2rem;
        }

    }
}