html {
    font-size: 100%;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    color: $gray;
    background: $cream;
    font-family: $body;
}

main {
    padding-top: 80px;

    @media #{$medium}{
        padding-top: 100px;
    }    
}

*, *::after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2 {
    margin: 0px;
}

img {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

a, a:visited {
    text-decoration: none;
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

// Helper classes

.noscroll {
    overflow-y: hidden;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #ffffff;
}

// Placeholders

@mixin center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}