// colors
$gray: #36384c;
$cream: #e9dccd;
$petal: #e3bab3;
$burgundy: #613a43;
$fresh: #849974;

// fonts
$headline: 'Bitter', serif;
$body: 'Lato', sans-serif;

// media queries
$medium: "screen and (min-width: 41em)"; // 670px
$medium-large: "screen and (min-width: 50em)"; // 800px
$large: "screen and (min-width: 62em)"; // 1000px