#about {
    
    .intro {
        margin-bottom: 2rem;
    }

    .grid {
        display: block;
   
        @media #{$medium}{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        &__item {
            height: 200px; 
            margin: 0 0 20px;
            background-size: cover;            
            background-position: center center;

            @media #{$medium}{
                width: 48%;
            }
            
            @media #{$large}{
                width: 21%;
                margin: 0 10px;
            }
            
        }
    }
}