#home {

    &.block {
        background-image: url(../app/images/coffee-983955_1920.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;        
    }
}