#location {
    
    .grid {
        display: block;
   
        @media #{$medium}{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }

        &__item {
            margin: 0 0 20px;
            padding: 0 10px;
            background-size: cover;            
            background-position: center center;

            @media #{$medium}{
                //width: 48%;
            }
            
            &.map img {
                width: 100%;
                max-width: 500px;
            }
        }
    }
}