#menu {
    
    .grid {
        display: block;
   
        @media #{$medium}{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        &__item {
            text-align: center;

            @media #{$medium}{
                width: 48%;
            }
            
        }
        
        &__image {
            height: 300px; 
            margin: 0 0 20px;
            background-size: cover;            
            background-position: center center;
        }        

        &__content {

            p {
                font-size: calcRem(17px);
                margin: 0 0 0.25rem;
            }
        }

    }
}